
.container-box {
  width: auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.5em;
}
.chat-container {
  height: 400px;
  overflow: auto;
}
.chat-container .message-container {
  border-bottom: solid 1px #ccc;
  padding: 20px;
}
.chat-container .message-container {
  float: left;
  margin-right: 5px;
}
.chat-container .message .datetime {
  float: right;
  color: #999;
}
.send-message-form input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px;
}
.send-message-form button {
  display: none;
}
